# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
devtools_options.yaml

# Android/iOS
android/.gradle/
ios/Pods/
ios/.symlinks/
*.iml

# IDEs y Editores (VS Code / Android Studio / IntelliJ)
.vscode/
.idea/

# Llaves y archivos sensibles
*.pem
*.key
*.env